<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
	<appSettings>
		<add key="strCon" value="Server=KNEWDBS.mssql.somee.com;Database=KNEWDBS;User Id=vinodw_SQLLogin_1;Password=kor8xh31ix"/>
		<!--<add key="strCon" value="Data Source=SQL5107.site4now.net,1433;Initial Catalog=db_a83b0f_nitinmatale1387;User Id=db_a83b0f_nitinmatale1387_admin;Password=Smarter@1387" />-->
		<!--<add key="strCon" value="Data Source=SQL5107.site4now.net,1433;Initial Catalog=db_a83b0f_nitinmatale1387;User Id=db_a83b0f_nitinmatale1387_admin;Password=Smarter@1387"/>-->
		<add key="LogoSaveFilePath" value="D:\Projects\Nitin Projects\My Projects\Logo\"/>
		<add key="SuccessMsg" value="Tournament Created Successfully."/>
		<add key="IsExistMsg" value="Tournament Name Already Register with Us."/>
		<add key="ErrorMsg" value="Tournament Logo can not Empty,Please Select Tournament Logo."/>
		<add key="DelSuccessMsg" value="Tournament Details Delete Successfully."/>
		<add key="UpdateSuccessMsg" value="Tournament Details Updates Successfully."/>
		<add key="UpdateTeamSuccessMsg" value="Team Update Successfully."/>
		<add key="CreateTeamSuccessMsg" value="Team Create Successfully."/>
		<add key="DelTEAMSuccessMsg" value="Team Details Delete Successfully."/>
		<add key="TeamSuccessMsg" value="Team Create Successfully."/>
		<add key="PlayerErrorMsg" value="Please Upload Player Image."/>
		<add key="UpdatePlayerSuccessMsg" value="Player Update Sucessfully."/>
		<add key="DelPlayerSuccessMsg" value="Player Deleted Sucessfully."/>
		<add key="AddPlayerSuccessMsg" value="Player Added Sucessfully."/>
		<add key="AddTEAMPlayerSuccessMsg" value="Player Already Exists in your Selectcted Team."/>
		<add key="SameTeamSelectedMsg" value="You have Selected Same Team in Team A and Team B, Please select another Team"/>
		<add key="DelMatchSuccessMsg" value="Match Details Delete Successfully."/>
		<add key="CreateMatchSuccessMsg" value="Match Create Successfully."/>
		<add key="UpdateMatchSuccessMsg" value="Match Update Successfully."/>
		<add key="MsgUserCreateFalied" value="User already present, Please reset your password."/>
		<add key="MsgUserCreateSuccess" value="User Created Successfully."/>
		<add key="MsgUserResetFalied" value="User does not exists."/>
		<add key="UpdatePlayerSuccessMsg1" value="Player is successfully Active in Team"/>
		<add key="ExistTEAMPlayerSuccessMsg" value="Player is Already Added in Another Team or Same Team"/>
		<add key="AddTEAMPlayerLimitMsg" value="Maximum 18 Players in Team."/>
		<add key="DelNewsSuccessMsg" value="News Deleted Successfully."/>
		<add key="SuccesNewsMsg" value="News Added Successfully."/>
		<add key="SuccesPhotoMsg" value="Photo Added Successfully."/>
		<add key="DelPhotoSuccessMsg" value="Photo Deleted Successfully."/>
	</appSettings>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>